.header {
  height: 9.6rem; /* because we want the header to be sticky */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}
